<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>確認コード入力</title>
</head>
<body>
<h1>確認コード入力画面</h1>
<form th:action="@{/account/auth}" method="post" th:object="${account}">
    <input type="hidden" name="accountIdentifier" title="accountIdentifier" th:value="*{identifier().value()}">
    <input type="hidden" name="mailAddress" title="mailAddress" th:value="*{mailAddress().value()}">
    <input type="text" name="confirmationCode" title="confirmationCode">
    <input type="submit" value="確認">
</form>

</body>
</html>